body {
    background-color: rgb(119, 0, 255);
    text-align:center
}

#box { width: 100px; height: 100px; position:relative; background: gray; left: 200px; top: 200px; }

img{width: 200px;height: 200px}